/* 

 * Use margin-bottom
*/

.img-valign {
    vertical-align: middle;
    margin-bottom: 0.75em;
    height: 59px;
    width: 199px;
}

.console-text {
    font-size: 18px;
}

.center-div {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

table {
    padding: 5px;
}
.headertext {
    font-weight: bold;
    font-size: large;
    color: blue;
}

