<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RingDownConsole.App.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RingDownConsole.App.Settings>
      <setting name="MinOnlineVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxOnlineVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinConnectedVoltage" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="MaxConnectedVoltage" serializeAs="String">
        <value>4.9</value>
      </setting>
      <setting name="MinOnHookVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxOnHookVoltage" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="MinOffHookVoltage" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="MaxOffHookVoltage" serializeAs="String">
        <value>9.3</value>
      </setting>
      <setting name="MinNoDialToneVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxNoDialToneVoltage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IntervalSeconds" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="PromptForName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WebApiConnectionString" serializeAs="String">
        <value>http://ringdownuat.flychicago.com:3456</value>
      </setting>
    </RingDownConsole.App.Settings>
  </userSettings>
</configuration>
