/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    padding: 0px !important;
}

.navbar-brand-img {
    height: 60px;
    width: 175px;
}

a.nav-link {
    cursor: pointer;
}

#MainContent_ConsoleGridView > tbody > tr > td {
    line-height: 65px;
    font-weight: bold;
    font-size: 1.2em;
}

.status-page {
    max-width: 800px;
    text-align: center;
}

.center-div {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.auto-style1 {
    height: 24px;
}

.Important {
    font-size: large;
    color: Red;
}

.application-title {
    font-size: large;
    font-weight: bold;
    color: #284E98;
}

#Menu1 {
    border-radius: 20px;
}

ul.level2 {
    border-radius: 0 0 20px 20px;
}

#Menu1 ul li {
    padding: 10px;
}

#Menu1 ul li a{
    color: #284E98;
}

/* 

 * Use margin-bottom
*/

.logo {
    height: 59px;
    width: 199px;
}

.console-text {
    font-size: 18px;
}

.center-div {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.headertext {
    font-weight: bold;
    font-size: large;
    color: blue;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

@font-face {
    font-family: 'fa';
    src: url('../fonts/fa.woff2?79116982') format('woff2'), url('../fonts/fa.woff?79116982') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fa';
    src: url('../font/fa.svg?79116982#fa') format('svg');
  }
}
*/

[class^="fa-"]:before, [class*=" fa-"]:before {
    font-family: "fa";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.fa-search:before {
    content: '\e800';
}
/* '' */
.fa-user:before {
    content: '\e801';
}
/* '' */
.fa-home:before {
    content: '\e802';
}
/* '' */
.fa-cog:before {
    content: '\e803';
}
/* '' */
.fa-login:before {
    content: '\e804';
}
/* '' */
.fa-logout:before {
    content: '\e805';
}
/* '' */
.fa-plus:before {
    content: '\e806';
}
/* '' */
.fa-cancel:before {
    content: '\e807';
}
/* '' */
.fa-save:before {
    content: '\e808';
}
/* '' */
.fa-key:before {
    content: '\e809';
}
/* '' */
.fa-tags:before {
    content: '\e80a';
}
/* '' */
.fa-edit:before {
    content: '\e80b';
}
/* '' */
.fa-chart-bar:before {
    content: '\e80c';
}
/* '' */
.fa-download:before {
    content: '\e80d';
}
/* '' */
.fa-calendar:before {
    content: '\e80e';
}
/* '' */
.fa-filter:before {
    content: '\f0b0';
}
/* '' */
.fa-lightbulb:before {
    content: '\f0eb';
}
/* '' */
.fa-cab:before {
    content: '\f1b9';
}
/* '' */
.fa-trash:before {
    content: '\f1f8';
}
/* '' */
.fa-id-card-o:before {
    content: '\f2c3';
}
/* '' */