@font-face {
  font-family: 'fa';
  src: url('../font/fa.woff2?79116982') format('woff2'),
       url('../font/fa.woff?79116982') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fa';
    src: url('../font/fa.svg?79116982#fa') format('svg');
  }
}
*/
 
 [class^="fa-"]:before, [class*=" fa-"]:before {
  font-family: "fa";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fa-search:before { content: '\e800'; } /* '' */
.fa-user:before { content: '\e801'; } /* '' */
.fa-home:before { content: '\e802'; } /* '' */
.fa-cog:before { content: '\e803'; } /* '' */
.fa-login:before { content: '\e804'; } /* '' */
.fa-logout:before { content: '\e805'; } /* '' */
.fa-plus:before { content: '\e806'; } /* '' */
.fa-cancel:before { content: '\e807'; } /* '' */
.fa-save:before { content: '\e808'; } /* '' */
.fa-key:before { content: '\e809'; } /* '' */
.fa-tags:before { content: '\e80a'; } /* '' */
.fa-edit:before { content: '\e80b'; } /* '' */
.fa-chart-bar:before { content: '\e80c'; } /* '' */
.fa-download:before { content: '\e80d'; } /* '' */
.fa-calendar:before { content: '\e80e'; } /* '' */
.fa-filter:before { content: '\f0b0'; } /* '' */
.fa-lightbulb:before { content: '\f0eb'; } /* '' */
.fa-cab:before { content: '\f1b9'; } /* '' */
.fa-trash:before { content: '\f1f8'; } /* '' */
.fa-id-card-o:before { content: '\f2c3'; } /* '' */