<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>

  <styleBundle path="~/Content/css/jQuery/theme">
    <include path="~/Content/jquery-ui-1.11.4.css" />
  </styleBundle>
</bundles>