<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>ringdownuat.flychicago.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.213.74.22</MSDeployServiceURL>
    <DeployIisAppPath>RingDownConsole</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>FLYCHI\sp_admin</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Microsoft.AspNet.Identity.EntityFramework.IdentityDbContext, Microsoft.AspNet.Identity.EntityFramework" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Microsoft.AspNet.Identity.CoreCompat.IdentityDbContext`1" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Microsoft.AspNet.Identity.CoreCompat.IdentityDbContext`1, Microsoft.AspNet.Identity.AspNetCoreCompat" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Microsoft.AspNet.Identity.CoreCompat.IdentityDbContext`7" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Microsoft.AspNet.Identity.CoreCompat.IdentityDbContext`7, Microsoft.AspNet.Identity.AspNetCoreCompat" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Microsoft.AspNet.Identity.EntityFramework.IdentityDbContext`1" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Microsoft.AspNet.Identity.EntityFramework.IdentityDbContext`1, Microsoft.AspNet.Identity.EntityFramework" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Microsoft.AspNet.Identity.EntityFramework.IdentityDbContext`6" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Microsoft.AspNet.Identity.EntityFramework.IdentityDbContext`6, Microsoft.AspNet.Identity.EntityFramework" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Microsoft.AspNet.Identity.CoreCompat.IdentityDbContext`1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Microsoft.AspNet.Identity.CoreCompat.IdentityDbContext`7-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Microsoft.AspNet.Identity.EntityFramework.IdentityDbContext`1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Microsoft.AspNet.Identity.EntityFramework.IdentityDbContext`6-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Microsoft.AspNet.Identity.CoreCompat.IdentityDbContext`1" />
    <_ConnectionStringsToInsert Include="Microsoft.AspNet.Identity.CoreCompat.IdentityDbContext`7" />
    <_ConnectionStringsToInsert Include="Microsoft.AspNet.Identity.EntityFramework.IdentityDbContext`1" />
    <_ConnectionStringsToInsert Include="Microsoft.AspNet.Identity.EntityFramework.IdentityDbContext`6" />
  </ItemGroup>
</Project>